*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.gradle
*.properties
.idea/
app/.gitignore
gradlew
*.bat
*.pro
app/src/main/assets/id_pdf.pdf
app/src/main/assets/
*.png
app/src/main/res/drawable-v24/Desktop/cg/
*.jar
